# VS Code Files
.vscode/

# Mac Files
.DS_Store

# CMake Files
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Build files
image-processing

# OpenCV files
opencv_contrib/
install/

# Facial Recognition Training Set
harcascade_frontalface_default.xml